name: Build ZMK firmware
on: [push, pull_request, workflow_dispatch]

jobs:
  matrix:
    runs-on: ubuntu-latest
    name: Fetch Build Keyboards
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install yaml2json
        run: python3 -m pip install remarshal
      - id: set-matrix
        name: Fetch Build Matrix
        run: |
          matrix=$(yaml2json config/build.yaml | jq -c .)
          echo "matrix=${matrix}" >> $GITHUB_OUTPUT
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    needs: matrix
    with:
      build_matrix_path: ${{ needs.matrix.outputs.matrix }}